/* --------------------------Home Page------------------------------ */
/* Reset default margin and padding */
body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: "Arial";
  }

h1 {
    font-size: 2.5em;
    color: #333;
    margin: 20px 0;
    text-align: center;
    padding-top: 2%;
}
h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    padding: 20px;
}

p {
    font-size: 1.2em;
    margin-left: 20px;
    margin-bottom: 10px;
}

ul, ol {
    margin-left: 20px;
    margin-bottom: 10px;
}

div {
    padding: 20px;
    margin-bottom: 20px;
}

/*Background color for the body */
body {
    background-color: white;
}

/* Navigation Bar */
nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: right;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    font-family: "Arial";
}

nav a:hover{
    color: red;
}

/* Body Top */
.bodytop {
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 40px;
}

.bodytop h3 {
    color: #666;
    text-align: center;
    padding: 2px;
    margin: 5px;
}

/*Body Core1*/
.bodycore1 {
    text-align: center;
    background-color: white;
    padding: 15px 200px;
}

h2.parallax {
    margin: 0;
    padding: 50px;
    background-image: url("../sources/migration_2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white; 
    position: relative;
}

/*World Map*/
#world_map {
    font-size: 0.8em;
    display: flex;
    background-color: #282e34;    
    margin: 0;
    padding-right: 7%;
    padding-bottom: 60px;
    padding-top: 60px;
}

/*features*/
.unorderedList {
    flex: 1;
    background-color: #282e34;
    color: white;
    padding: 20px;
    margin-top: 40px;
    font-weight: bold;
}

.unorderedList ul {
    list-style-type: disc;
    margin-left: 20px;
}

.unorderedList li {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 20px;
}

.unorderedList p{
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 20px;
}

/*benefits*/
#benefits.unorderedList{
    margin: 0;
    padding-bottom: 20px;
}

/* Footer */

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

.footer-dark .row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: flex-start; 
}

/*.footer-dark .col-sm-6 {
    /* flex-basis: 50%;
    max-width: 50%;
    padding: 0 15px; */
    /*margin-bottom: 0;
/*}

/*Parallex */
.parallax {
    background-image: url("../sources/migration_2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* --------------------------Countries Page------------------------------ */

.barchart {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  background-color: #282e34;
  margin: 0;
  padding: 60px 3.5%;
  box-sizing: border-box;
  height: 100%;
  justify-content: center; 
  align-items: center; 
}

.barchart-top {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.barchart-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.chartinfo {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-align: left;
  padding: 10px;
  font-weight: bold;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
}

.btn {
  line-height: 30px;
  height: 30px;
  text-align: center;
  width: 150px;
  cursor: pointer;
  z-index: 1;
  margin-bottom: 5px;
}

.btn-three {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}

.btn-three::before,
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.btn-three::before {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5);
}

.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1);
}

@media screen and (max-width: 768px) {
  .barchart-left,
  .barchart-right,
  .chartinfo,
  .btn-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}


/* --------------------------Reasons Page------------------------------ */
.reasonbodycore1{
  text-align: left;
  padding: 20px;
}

.reasonbodycore1 ul {
  list-style: none;
  margin-left: 20px;
}
.reasonbodycore1 li {
  text-align: left;
  margin-top: 15px;
}


.reasonsUList {
  background: none;
  color: white;
  position: relative;
  z-index: 1;
  margin:0;
}

.reasonsUList:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../sources/migration_2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.chartInstructions{
  font-size: 1.4em;
  color: white;
}

.chartInstructions h3 {
  margin-top: 10px ;
}

.reasonsChartBackground{
  margin: 0;
  padding: 0;
}
